<mat-card class="dashboard-card-secondary absolute">
  <mat-card-header>
    <mat-card-title>Ventas del Taller por Servicios</mat-card-title>
    <mat-card-subtitle>Ventas divididas por mes</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="text-center margen">
    <div class="container">
      <div class="row">
        <div class="col">
          <div id="chartdiv" style="height: 500px"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="w-25">
            <mat-label for="yearForm">Año</mat-label>
            <input id="yearForm" matInput type="number" [formControl]="yearForm" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="justify-content-evenly">
    <button mat-raised-button color="primary" (click)="getChart()">
      <mat-icon>autorenew</mat-icon> Recargar Gráfica
    </button>
  </mat-card-actions>
</mat-card>
