<div class="container-fluid" id="htmlData">
    <div class="margen-tabla">
        <!-- Just an image -->
        <nav class="navbar navbar-light bg-transparent">
            <a class="navbar-brand">
                <img src="./assets/logo.png" width="100" alt="">
            </a>
        </nav>
        <mat-spinner [mode]="mode" class="mx-auto centrar" diameter="50" *ngIf="isLoading">
        </mat-spinner>
        <div class="row">
            <div class="col">
  
                <h1 class="text-center" *ngIf="!isLoading">
                    <b>REPORTE MENSUAL DE SERVICIOS</b>
                </h1>
  
                <h2 class="text-center" *ngIf="!isLoading">
                    TALLER DE HERRAMIENTAS
                </h2>
            </div>
  
        </div>
        <div class="row" *ngIf="!isLoading">
            <div class="col d-flex justify-content-evenly">
                <h2>
                    <b>Inicio: {{start_date | date: "dd/MM/yyyy"}}</b>
                </h2>
                <h2>
                    <b>Fin: {{end_date | date: "dd/MM/yyyy"}}</b>
                </h2>
            </div>
        </div>
  
        <table *ngIf="!isLoading" class="mt-5 table table-light text-size">
            <thead class="text-center">
                <tr>
                    <th scope="col" class="td-width">ESTATUS</th>
                    <th scope="col" class="td-width">CANTIDAD</th>
                    <th scope="col" class="td-width">PORCENTAJE</th>
  
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">POR AUTORIZAR</th>
                    <td> {{ report.service_report['por_autorizar'] }}</td>
                    <td> {{ report.service_report['porc_pa']  | number: '1.1-1' }}%</td>
                </tr>
                <tr>
                    <th scope="row">NO AUTORIZADO</th>
                    <td> {{ report.service_report['no_autorizado'] }}</td>
                    <td> {{ report.service_report['porc_na']  | number: '1.1-1' }}%</td>
                </tr>
                <tr>
                    <th scope="row">PENDIENTE</th>
                    <td> {{ report.service_report['pendiente'] }}</td>
                    <td> {{ report.service_report['porc_p']  | number: '1.1-1' }}%</td>
                </tr>
                <tr>
                    <th scope="row">TERMINADO</th>
                    <td> {{ report.service_report['terminado'] }}</td>
                    <td> {{ report.service_report['porc_t'] | number: '1.1-1' }}%</td>
                </tr>
                <tr>
                    <th scope="row">ENTREGADO</th>
                    <td> {{ report.service_report['entregado'] }}</td>
                    <td> {{ report.service_report['porc_e'] | number: '1.1-1' }}%</td>
                </tr>
                <tr>
                    <th scope="row">TOTAL</th>
                    <td> {{ report.service_report['total'] }}</td>
                    <td> {{ report.service_report['total'] != 0 ? 100 : 0 | number: '1.1-1' }}%</td>
                </tr>
            </tbody>
        </table>
        <table *ngIf="!isLoading" class="mt-5 text-center table table-light text-size">
            <thead>
                <tr>
                    <th scope="col" class="td-width">ENCARGADO</th>
                    <th scope="col" class="td-width">SERVICIOS ASIGNADOS</th>
                    <th scope="col" class="td-width">POR AUTORIZAR</th>
                    <th scope="col" class="td-width">NO AUTORIZADO</th>
                    <th scope="col" class="td-width">PENDIENTES</th>
                    <th scope="col" class="td-width">TERMINADOS</th>
                    <th scope="col" class="td-width">ENTREGADOS</th>
                    <th scope="col" class="td-width">PORCENTAJE</th>
    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of report.user_report">
                    <td>{{ user.encargado }}</td>
                    <td>{{ user.servicios }}</td>
                    <td>{{ user.por_autorizar }}</td>
                    <td>{{ user.no_autorizado }}</td>
                    <td>{{ user.pendientes }}</td>
                    <td>{{ user.terminados }}</td>
                    <td>{{ user.entregados }}</td>
                    <td>{{ user.porcentaje | number: '1.1-1' }}%</td>
    
                </tr>
            </tbody>
        </table>
        <table *ngIf="!isLoading" class="mt-5 text-center table table-light text-size">
            <thead>
                <tr>
                    <th scope="col" class="td-width">ENCARGADO</th>
                    <th scope="col" class="td-width">IMPORTE GENERADO</th>
                    <th scope="col" class="td-width">PORCENTAJE</th>
    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of report.earnings_report">
                    <td>{{ user.encargado }}</td>
                    <td>{{ user.importe | currency: 'MXN':'symbol-narrow' }}</td>
                    <td>{{ user.porcentaje | number: '1.1-1' }}%</td>
    
                </tr>
            </tbody>
        </table>
        <table *ngIf="!isLoading" class="mt-5 text-center table table-light text-size">
            <thead>
                <tr>
                    <th scope="col" class="td-width">ENCARGADO</th>
                    <th scope="col" class="td-width">IMPORTE GENERADO</th>
                    <th scope="col" class="td-width">SERVICIOS EXPRESS</th>
    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of report.express_report">
                    <td>{{ user.encargado }}</td>
                    <td>{{ user.importe | currency: 'MXN':'symbol-narrow' }}</td>
                    <td>{{ user.servicios }}</td>
    
                </tr>
            </tbody>
        </table>
        <table *ngIf="!isLoading" class="mt-5 text-center table table-light text-size">
            <thead>
                <tr>
                    <th scope="col" class="td-width">ENCARGADO</th>
                    <th scope="col" class="td-width">SERVICIOS EXTERNOS</th>
                    <th scope="col" class="td-width">PENDIENTES</th>
                    <th scope="col" class="td-width">AGENDADOS</th>
                    <th scope="col" class="td-width">TERMINADOS</th>
      
                    <th scope="col" class="td-width">PORCENTAJE</th>
                </tr>
    
     
            </thead>
            <tbody>
                <tr *ngFor="let user of report.external_report">
                    <td>{{ user.encargado }}</td>
                    <td>{{ user.servicios }}</td>
                    <td>{{ user.pendientes }}</td>
                    <td>{{ user.agendado }}</td>
                    <td>{{ user.terminados }}</td>
                    <td>{{ user.porcentaje  | number: '1.1-1' }}%</td>
    
                </tr>
            </tbody>
        </table>
        <div class="row" *ngIf="!isLoading">
            <div class="col d-grid mt-5 justify-content-center">
                <h2>
                    <b>IMPORTE TOTAL:</b> {{ report.service_report['importe_total'] | currency: 'MXN':'symbol-narrow' }}
                </h2>
      
      
            </div>
        </div>
    </div>
  
  </div>
  
  <div class="row mt-4" *ngIf="!isLoading">
    <div class="col d-grid justify-content-center">
        <button color="accent" mat-raised-button (click)="openPDF()"> <mat-icon>description</mat-icon> Generar PDF</button>
  
    </div>
  </div>
  