<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <h2>Servicios</h2>
    </div>
  </div>
  
    <div class="row">
      <div class="col">
        <button mat-raised-button class="csv-button" (click)="getCSV()">
          <mat-icon>save_alt</mat-icon> Descargar Excel
        </button>
      </div>
      <div class="col text-center">
        <mat-form-field>
          <mat-label>Mes y Año</mat-label>
          <input matInput [matDatepicker]="dp" [formControl]="date" />
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker
            #dp
            startView="year"
            (monthSelected)="setMonthAndYear($event, dp)"
            panelClass="month-picker"
          >
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="text-end col-lg-4">
        <button mat-raised-button color="primary" (click)="createServicio()">
          <mat-icon>add</mat-icon> Agregar Servicio
        </button>
      </div>
    </div>
    

  <ag-grid-angular
    class="ag-theme-quartz d-grid"
    style="width: 100%; height: 80vh"
    [pagination]="true"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [rowClassRules]="rowClassRules"
    [rowSelection]="'multiple'"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)"
  ></ag-grid-angular>
</div>
