<div class="text-center">
  <h1 mat-dialog-title>
    {{ title }} Externo {{ isUpdateMode() ? data.id : "" }}
  </h1>
</div>

<div *ngIf="isUpdateMode()" class="flex justify-evenly my-3">
  <button
    (click)="avisar()"
    *ngIf="this.data.estado === 'PENDIENTE'"
    matButton="elevated"
    class="whatsapp-button"
  >
    <mat-icon>send_to_mobile</mat-icon> Avisar a Cliente
  </button>
</div>

<form [formGroup]="form" *ngIf="!isLoading">
  <div mat-dialog-content class="text-center space-y-2">
    <div class="text-center grid grid-rows-1">
      <div class="grid grid-cols-3 gap-2">
        <mat-form-field class="w-50">
          <mat-label>Cliente</mat-label>
          <mat-select [formControl]="clientesControl" #singleSelectClientes>
            <mat-option>
              <ngx-mat-select-search
                placeholderLabel="Buscar cliente..."
                noEntriesFoundLabel="No se encontraron clientes"
                [formControl]="clientesFiltro"
              ></ngx-mat-select-search>
            </mat-option>
            <mat-option
              *ngFor="let cliente of clientesFiltrados | async"
              [value]="cliente"
            >
              {{ cliente.nombre }} {{ cliente.apellido }} -
              {{ cliente.telefono }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-50">
          <mat-label>Encargado</mat-label>
          <mat-select [formControl]="usuariosControl" #singleSelectUsuarios>
            <mat-option>
              <ngx-mat-select-search
                placeholderLabel="Buscar usuario..."
                noEntriesFoundLabel="No se encontraron usuarios"
                [formControl]="usuariosFiltro"
              ></ngx-mat-select-search>
            </mat-option>
            <mat-option
              *ngFor="let usuario of usuariosFiltrados | async"
              [value]="usuario"
            >
              {{ usuario.nombre }} {{ usuario.apellido }} - {{ usuario.curp }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-50">
          <mat-label>Folio</mat-label>

          <input formControlName="folio" matInput type="text" />

          <mat-icon matSuffix>confirmation_number</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="text-center grid grid-rows-1">
      <div class="grid grid-cols-3 gap-2">
        <mat-form-field class="w-50">
          <mat-label>Garantía</mat-label>
          <mat-select formControlName="garantia" name="garantia">
            <mat-option value="1">SI</mat-option>
            <mat-option value="0">NO</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-50">
          <mat-label>Marca</mat-label>
          <mat-select formControlName="marca" name="marca">
            <mat-option [value]="option.value" *ngFor="let option of marcas">{{
              option.value
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-50">
          <mat-label>Cotización/Remisión</mat-label>

          <input formControlName="cotizacion" matInput type="text" />

          <mat-icon matSuffix>tag</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="text-center grid grid-rows-1">
      <div class="grid grid-cols-2 gap-2">
        <mat-form-field class="w-50">
          <mat-label>Importe</mat-label>

          <input formControlName="importe" matInput type="number" />

          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
        <mat-form-field class="w-50">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="estado" name="estado">
            <mat-option [value]="option.value" *ngFor="let option of estatus">{{
              option.value
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="text-center grid grid-rows-1">
      <div class="grid grid-cols-2 gap-2">
        <mat-form-field class="w-50">
          <mat-label>Fecha de Cita</mat-label>
          <input
            matInput
            [matDatepicker]="datePicker"
            placeholder="Escoge la fecha"
            formControlName="cita"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="datePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w-50">
          <mat-label>Hora de Cita</mat-label>
          <input matInput [matTimepicker]="timepicker" formControlName="cita" />
          <mat-timepicker #timepicker />
          <mat-timepicker-toggle [for]="timepicker" matSuffix />
          <mat-hint>HH:mm (24h)</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="grid grid-rows-1">
      <mat-form-field>
        <mat-label>Observaciones</mat-label>
        <textarea
          oninput="this.value = this.value.toUpperCase()"
          matInput
          formControlName="observaciones"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions align="end">
      <button mat-button (click)="onNoClick()">Cancelar</button>
      <button
        matButton="filled"
        *ngIf="isUpdateMode()"
        [disabled]="form.invalid"
        (click)="onAdd()"
      >
        Actualizar
      </button>
      <button
        matButton="filled"
        *ngIf="isCreateMode()"
        [disabled]="form.invalid"
        (click)="onAdd()"
      >
        Agregar
      </button>
    </div>
</form>
