<div class="mx-auto">
  <div class="grid grid-rows-1 grid-cols-2 gap-5">
    <div class="grid col-span-1 w-2/4">
      <mat-form-field [hidden]="!(this.dataSource.data.length > 0)">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input />
      </mat-form-field>
    </div>
    <div class="text-end">
      <button matButton="filled" color="primary" (click)="createServicio()">
        <mat-icon>add</mat-icon> Nuevo Servicio
      </button>
    </div>
  </div>
  <div class="w-100" [hidden]="!(this.dataSource.data!.length > 0)">
    <table
      mat-table
      [dataSource]="dataSource"
      class="w-100 text-center"
      matSort
      matSortActive="id"
      matSortDirection="desc"
      matSortDisableClear
    >
      <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>

      <!-- Fecha Ingreso Column -->
      <ng-container matColumnDef="fecha_ingreso">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          Fecha de Ingreso
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.fecha_ingreso | date : "dd/MM/yyyy  HH:mm:ss" }}
        </td>
      </ng-container>

      <!-- Apellido Column -->
      <ng-container matColumnDef="nombre_cliente">
        <th mat-header-cell *matHeaderCellDef class="text-center">Cliente</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.nombre_cliente }}
        </td>
      </ng-container>

      <!-- Producto Column -->
      <ng-container matColumnDef="producto">
        <th mat-header-cell *matHeaderCellDef class="text-center">Producto</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.producto }}
        </td>
      </ng-container>

      <!-- Marca Column -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef class="text-center">Marca</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.marca }}
        </td>
      </ng-container>

      <!-- Modelo Column -->
      <ng-container matColumnDef="encargado">
        <th mat-header-cell *matHeaderCellDef class="text-center">Encargado</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.encargado }}
        </td>
      </ng-container>
      <!-- Modelo Column -->
      <ng-container matColumnDef="falla_detectada">
        <th mat-header-cell *matHeaderCellDef class="text-center">Falla</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.falla_detectada }}
        </td>
      </ng-container>
      <!-- Modelo Column -->
      <ng-container matColumnDef="cotizacion">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          Cotización
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.cotizacion }}
        </td>
      </ng-container>
      <!-- Modelo Column -->
      <ng-container matColumnDef="fecha_terminado">
        <th mat-header-cell *matHeaderCellDef class="text-center">Terminado</th>
        <td
          mat-cell
          [ngClass]="{
            warnCell: avisoTerminado(
              element.fecha_ingreso,
              element.fecha_terminado
            )
          }"
          *matCellDef="let element"
          class="text-center"
        >
          {{ element.fecha_terminado | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>
      <!-- Modelo Column -->
      <ng-container matColumnDef="fecha_entrega">
        <th mat-header-cell *matHeaderCellDef class="text-center">Entrega</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.fecha_entrega | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>
      <!-- Modelo Column -->
      <ng-container matColumnDef="importe">
        <th mat-header-cell *matHeaderCellDef class="text-center">$</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.importe | currency : "MXN" : "symbol-narrow" }}
        </td>
      </ng-container>
      <!-- Modelo Column -->
      <ng-container matColumnDef="estatus">
        <th mat-header-cell *matHeaderCellDef class="text-center">Estatus</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.estatus }}
        </td>
      </ng-container>
      <!-- Modelo Column -->
      <ng-container matColumnDef="observaciones">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          Observaciones
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.observaciones }}
        </td>
      </ng-container>
      <!-- Garantia Column -->
      <ng-container matColumnDef="garantia">
        <th mat-header-cell *matHeaderCellDef class="text-center">Garantía</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.garantia === "0" ? "NO" : "SI" }}
        </td>
      </ng-container>
      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <div class="flex justify-center">
            <button
              mat-icon-button
              (click)="updateServicio(element)"
              color="accent"
              matTooltip="Editar Servicio"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <a
              mat-icon-button
              matTooltip="Generar Recibo"
              (click)="printReceipt(element)"
              *ngIf="element.impreso == 0"
            >
              <mat-icon>receipt_log</mat-icon>
            </a>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100]"
      aria-label="Select page of users "
    ></mat-paginator>
  </div>
  <h2 *ngIf="this.dataSource.data.length === 0" class="text-center mt-5">
    No hay registros
  </h2>
</div>
