<div class="container-fluid" id="htmlData">
  <div class="margen-tabla">
      <!-- Just an image -->
      <nav class="navbar navbar-light bg-transparent">
          <a class="navbar-brand">
              <img src="./assets/logo.png" width="250" alt="">
          </a>
      </nav>
      <mat-spinner [mode]="mode" class="mx-auto centrar" diameter="50" *ngIf="isLoading">
      </mat-spinner>
      <div class="row">
          <div class="col">

              <h1 class="text-center" *ngIf="!isLoading">
                  <b>REPORTE ANUAL DE SERVICIOS</b>
              </h1>

              <h2 class="text-center" *ngIf="!isLoading">
                  TALLER DE HERRAMIENTAS
              </h2>
          </div>

      </div>
      <div class="row" *ngIf="!isLoading">
          <div class="col d-flex justify-content-evenly">
                            <h2>
                  <b>AÑO: {{ano}}</b>
              </h2>
          </div>
      </div>

      <table *ngIf="!isLoading" class="mt-5 table table-light text-size">
          <thead class="text-center">
              <tr>
                  <th scope="col" class="td-width">ESTATUS</th>
                  <th scope="col" class="td-width">CANTIDAD</th>
                  <th scope="col" class="td-width">PORCENTAJE</th>

              </tr>
          </thead>
          <tbody class="text-center">
              <tr>
                  <th scope="row">POR AUTORIZAR</th>
                  <td> {{ reporteS.porAutorizar }}</td>
                  <td> {{ reporteS.porcPA ?? 0 | number: '1.1-1' }}%</td>
              </tr>
              <tr>
                  <th scope="row">NO AUTORIZADO</th>
                  <td> {{ reporteS.noAutorizado }}</td>
                  <td> {{ reporteS.porcNA ?? 0 | number: '1.1-1' }}%</td>
              </tr>
              <tr>
                  <th scope="row">PENDIENTE</th>
                  <td> {{ reporteS.pendiente }}</td>
                  <td> {{ reporteS.porcP ?? 0 | number: '1.1-1' }}%</td>
              </tr>
              <tr>
                  <th scope="row">TERMINADO</th>
                  <td> {{ reporteS.terminado }}</td>
                  <td> {{ reporteS.porcT ?? 0 | number: '1.1-1' }}%</td>
              </tr>
              <tr>
                  <th scope="row">ENTREGADO</th>
                  <td> {{ reporteS.entregado }}</td>
                  <td> {{ reporteS.porcE ?? 0 | number: '1.1-1' }}%</td>
              </tr>
              <tr>
                  <th scope="row">TOTAL</th>
                  <td> {{ reporteS.total }}</td>
                  <td> {{ reporteS.total != '0' ? 100 : 0 | number: '1.1-1' }}%</td>
              </tr>
          </tbody>
      </table>

    <table *ngIf="!isLoading" class="mt-5 text-center table table-light text-size">
        <thead>
            <tr>
                <th scope="col" class="td-width">ENCARGADO</th>
                <th scope="col" class="td-width">SERVICIOS</th>
                <th scope="col" class="td-width">PORCENTAJE</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of reporteU">
                <td>{{ user.encargado }}</td>
                <td>{{ user.servicios }}</td>
                <td>{{ user.porcentaje | number: '1.1-1' }}%</td>

            </tr>
        </tbody>
    </table>
    <div class="row" *ngIf="!isLoading">
      <div class="col d-grid mt-5 justify-content-center">
          <h2>
              <b>IMPORTE TOTAL:</b> {{ total | currency: 'MXN':'symbol-narrow' }}
          </h2>
          <h2>
              <b>IMPORTE NO AUTORIZADO:</b> {{ reporteS.importeNA ?? 0 | currency: 'MXN':'symbol-narrow' }}
          </h2>

      </div>
  </div>
    <div class="row" *ngIf="!isLoading">
        <div class="col d-grid justify-content-center">
            <h2>
                Reporte creado el {{ now | date: 'dd/MM/YYYY' }}
            </h2>

        </div>
    </div>
  </div>

</div>

<div class="row mt-4" *ngIf="!isLoading">
  <div class="col d-grid justify-content-center">
      <button color="accent" mat-raised-button (click)="openPDF()"> <mat-icon>description</mat-icon> Generar PDF</button>

  </div>
</div>
