.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

mat-toolbar {
  background: #004a9f;
  color: white;
}
mat-sidenav-container {
  height: -webkit-fill-available;
}
mat-sidenav {
  margin: 16px;
  border-right: none;
  background: rgb(0, 98, 173);
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

mat-divider {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  justify-content: flex-start;
  color: white !important;
  mat-icon {
      margin-right: 8px;
  }
}

.selected {
  color: white;
  background-color: #004a9f;
}

.avatar {
  margin-bottom: 16px;
  padding: 15px;
  width: 150px;
  height: 150px;
  border-radius: 10%;
  background-color: white;
}

.margin-start {
  margin-left: 3rem;
}

.content {
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  min-height: 96.5vh;
}
