<div class="col">
  <h1 mat-dialog-title class="text-center">
    {{ title }} Garantía {{ isUpdateMode() ? data.id : "" }}
  </h1>
</div>
<div class="row gutter justify-content-evenly">
  <div class="col-12 col-lg-4 text-center" *ngIf="form.controls['doc'].value">
    <button
    *ngIf="form.controls['doc'].value"
    (click)="verDoc()"
    type="button"
    mat-raised-button
    color="accent"
  >
    <mat-icon matSuffix>visibility</mat-icon> Ver Documento
  </button>
  </div>
  <div class="col-12 col-lg-4 text-center" *ngIf="form.controls['doc'].value">

    <span>{{
      form.controls["doc"].value
    }}</span>
  </div>
  <div class="col-12 col-lg-4 text-center">
    <button
    type="button"
    mat-raised-button
    (click)="fileInput.click()"
    color="primary"
  >
    <mat-icon matSuffix>upload</mat-icon> Subir Documento
  </button>
  </div>


  <input hidden type="file" #fileInput (change)="uploadDocumento($event)" />
</div>

<form [formGroup]="form" class="mt-3">
  <div mat-dialog-content class="text-center content">
    <div class="row">
      <mat-form-field class="w-50">
        <mat-label>Número de Traspaso</mat-label>

        <input formControlName="traspaso" matInput type="number" />
        <mat-error *ngIf="form.controls['traspaso'].hasError('required')">
          El número de traspaso es <strong> requerido </strong>
        </mat-error>
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>
      <mat-form-field class="w-50">
        <mat-label>Folio de Ticket o Factura</mat-label>

        <input
          formControlName="folio"
          oninput="this.value = this.value.toUpperCase()"
          matInput
          type="text"
        />
        <mat-error *ngIf="form.controls['folio'].hasError('required')">
          El folio es <strong> requerido </strong>
        </mat-error>
        <mat-icon matSuffix>tag</mat-icon>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="w-50">
        <mat-label>Producto</mat-label>

        <input
          formControlName="producto"
          oninput="this.value = this.value.toUpperCase()"
          matInput
          type="text"
        />
        <mat-error *ngIf="form.controls['producto'].hasError('required')">
          El producto es <strong> requerido </strong>
        </mat-error>
        <mat-icon matSuffix>inventory_2</mat-icon>
      </mat-form-field>
      <mat-form-field class="w-50">
        <mat-label>Marca</mat-label>
        <input
          formControlName="marca"
          oninput="this.value = this.value.toUpperCase()"
          matInput
          type="text"
        />
        <mat-error *ngIf="form.controls['marca'].hasError('required')">
          La marca es <strong> requerida </strong>
        </mat-error>
        <mat-icon matSuffix>bookmark</mat-icon>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="w-50">
        <mat-label>Modelo</mat-label>

        <input
          formControlName="modelo"
          oninput="this.value = this.value.toUpperCase()"
          matInput
          type="text"
        />
        <mat-error *ngIf="form.controls['modelo'].hasError('required')">
          El modelo es <strong> requerido </strong>
        </mat-error>
        <mat-icon matSuffix>local_activity</mat-icon>
      </mat-form-field>
      <mat-form-field class="w-50">
        <mat-label>Cantidad</mat-label>
        <input formControlName="cantidad" matInput type="number" />
        <mat-error *ngIf="form.controls['cantidad'].hasError('required')">
          La cantidad es <strong> requerida </strong>
        </mat-error>
        <mat-icon matSuffix>plus_one</mat-icon>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="w-50">
        <mat-label>Costo Unitario</mat-label>

        <input formControlName="costo_unitario" matInput type="number" />
        <mat-error *ngIf="form.controls['costo_unitario'].hasError('required')">
          El costo unitario es <strong> requerido </strong>
        </mat-error>
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>
      <mat-form-field class="w-50">
        <mat-label>Total</mat-label>
        <input formControlName="total" matInput type="number" />
        <mat-error *ngIf="form.controls['total'].hasError('required')">
          El total es <strong> requerida </strong>
        </mat-error>
        <mat-icon matSuffix>monetization_on</mat-icon>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="w-50">
        <mat-label>Fecha de Solicitud a Proveedor</mat-label>
        <input
          matInput
          [matDatepicker]="pickerProveedor"
          formControlName="fecha_proveedor"
          (dateChange)="onDateChange($event, 'fecha_proveedor')"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerProveedor"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerProveedor></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="w-50">
        <mat-label>Estado Proveedor</mat-label>
        <mat-select formControlName="estado_proveedor" name="estado">
          <mat-option [value]="option.value" *ngFor="let option of statusP">{{
            option.value
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="w-50">
        <mat-label>Fecha de Terminado Proveedor</mat-label>
        <input
          matInput
          [matDatepicker]="pickerTerminado"
          formControlName="fecha_resuelto_proveedor"
          (dateChange)="onDateChange($event, 'fecha_resuelto_proveedor')"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerTerminado"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerTerminado></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="w-50">
        <mat-label>Autorizó</mat-label>
        <input
          formControlName="autorizo"
          oninput="this.value = this.value.toUpperCase()"
          matInput
          type="text"
        />
        <mat-icon matSuffix>bookmark</mat-icon>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="w-50">
        <mat-label>Fecha de Resuelto Cliente</mat-label>
        <input
          matInput
          [matDatepicker]="pickerCliente"
          formControlName="fecha_resuelto_cliente"
          (dateChange)="onDateChange($event, 'fecha_resuelto_cliente')"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerCliente"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerCliente></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="w-50">
        <mat-label>Estado Cliente</mat-label>
        <mat-select formControlName="estado_cliente" name="estado_cliente">
          <mat-option [value]="option.value" *ngFor="let option of statusC">{{
            option.value
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Motivo</mat-label>
        <textarea
          oninput="this.value = this.value.toUpperCase()"
          matInput
          formControlName="motivo"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions align="center" class="row">
    <div class="col">
      <p *ngIf="isUpdateMode()">Ultima modificacion: {{ data.modificador }}</p>
    </div>
    <div class="col text-end">
      <button
        mat-button
        *ngIf="isCreateMode()"
        [disabled]="form.invalid"
        (click)="onAdd()"
      >
        Agregar
      </button>
      <button
        mat-button
        *ngIf="isUpdateMode()"
        [disabled]="form.invalid"
        (click)="onAdd()"
      >
        Actualizar
      </button>
      <button mat-button (click)="onNoClick()">Cancelar</button>
    </div>
  </div>
</form>
