<mat-grid-list cols="2"  [rowHeight]="600" >
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card absolute">

        <mat-card-content>
          <div id="chartMarcas" class="h-75"></div>
          <h2 class="mt-4">Servicios Registrados por Marca</h2>

        </mat-card-content>
    </mat-card>

    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card absolute">

        <mat-card-content>
          <div id="chartTecnicos" class="h-75"></div>
          <h2 class="mt-4">Servicios Asignados por Técnico</h2>
        </mat-card-content>
    </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card absolute">

        <mat-card-content>
          <div id="chartEstados" class="h-75"></div>
          <h2 class="mt-4">Estado del Total de Servicios</h2>

        </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

