<mat-toolbar color="primary">
  <div class="container-fluid d-flex">
      <span>Taller de Servicios</span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="/dashboard-admin"> <mat-icon>assignment</mat-icon> Reportes</button>
      <button mat-button routerLink="/dashboard-admin/servicios"> <mat-icon>build_circle</mat-icon> Servicios</button>
      <button mat-button routerLink="/dashboard-admin/express"> <mat-icon>bolt</mat-icon> Express</button>
      <button mat-button routerLink="/dashboard-admin/clientes"> <mat-icon>groups</mat-icon> Clientes</button>
      <button mat-button routerLink="/dashboard-admin/usuarios"> <mat-icon>account_circle</mat-icon> Usuarios</button>
      <button mat-button (click)="logout()"> <mat-icon>logout</mat-icon> Cerrar Sesión</button>
  </div>


</mat-toolbar>
