@use '@angular/material' as mat;
@use './theme/_theme-colors' as my-theme; // location of generated file

@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  @include mat.theme((
    color: (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
    ),
    typography: "Work Sans",
    density: 0,
  ));
}
:root {
  --mat-sys-body-medium-font : "Work Sans", "Helvetica Neue", sans-serif;
  --mdc-dialog-subhead-weight: 600;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Work Sans", "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.mat-mdc-icon-button {
  display: flex !important;
}
/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgb(222, 222, 222);
  cursor: default;
}
.ag-header-cell-label {
  justify-content: center !important;
}

@media (min-width: 1024px) {
  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 12rem;
    padding: 0px 10px;
  }
}
.ag-theme-quartz {
  --ag-font-size: 14px;
  --ag-background-color: transparent;
  --ag-header-background-color: transparent;
  --ag-font-family: "Work Sans", sans-serif;
}
.ag-theme-quartz .ag-header-cell {
  font-size: 14px;
  font-weight: 500;
  color: black;
}
.ag-header-cell-label {
  justify-content: center !important;
}
.small-icon-button {
   width: 36px !important;
   height: 38px !important;
   padding: 0px !important;
   display: inline-flex !important;
   align-items: center;
   justify-content: center;

   & > *[role=img] {
      width: 24px;
      height: 24px;
      font-size: 24px;

      svg {
         width: 24px;
         height: 24px;
      }
   }

   .mat-mdc-button-touch-target {
      width: 30px !important;
      height: 30px !important;
   }
}
.green {
  background-color: #25D366;
}

.yellow {
  background-color: #f7f260;
}
.red {
  background-color: #f76060;
}