<div class="container-fluid" id="htmlData">
  <mat-spinner
    [mode]="mode"
    class="mx-auto centrar"
    diameter="50"
    *ngIf="isLoading"
  >
  </mat-spinner>
  <div *ngIf="!isLoading">
    <div class="row">
      <div class="col d-grid justify-content-center">
        <img class="mx-auto my-3" src="./assets/logo.png" width="100" alt="" />
        <h1 class="text-center text-primary">Centro de Servicio Profesional</h1>
      </div>

      <div class="col mt-5 text-center">
        <h1><b>GRUPO FERRETERO DON PEDRO</b></h1>
        <h3>
          CARRETERA SAN MIGUEL A CELAYA KM 2.4 POBLADO DE DON DIEGO CP. 37887
          SAN MIGUEL DE ALLENDE, GUANAJUATO
        </h3>
      </div>

      <div class="col d-grid align-content-center text-center">
        <h1 class="text-danger text-large">
          <b>FOLIO: {{ garantia.id }}</b>
        </h1>
      </div>
    </div>

    <div class="container-margen">
      <div class="row">
        <div class="col d-grid text-center align-content-center">
          <h1 class="titulo text-white">COMPROBANTE DE GARANTÍA</h1>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-3 d-grid text-center">
          <h1 class="text-primary"><b> DATOS DEL PRODUCTO</b></h1>
        </div>
        <hr />
      </div>
      <div class="row mt-5">
        <div class="col d-grid">
          <h2><b>Producto: </b> {{ garantia.producto }}</h2>
        </div>
        <div class="col d-grid">
          <h2><b>Marca: </b> {{ garantia.marca }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col d-grid">
          <h2><b>Modelo: </b> {{ garantia.modelo }}</h2>
        </div>
        <div class="col d-grid">
            <h2>
              <b>Fecha de Registro: </b>
              {{ garantia.fecha_registro | date : "dd/MM/yyyy" }}
            </h2>
          </div>
      </div>
      <div class="row mt-5">
        <div class="col-3 d-grid text-center">
          <h1 class="text-primary"><b> DIAGNÓSTICO</b></h1>
        </div>
        <hr />
      </div>
      <div class="row my-3">
        <div class="col">
          <h2>- {{ garantia.motivo }}</h2>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-3 d-grid text-center">
          <h1 class="text-primary"><b> DATOS DE COMPRA</b></h1>
        </div>
        <hr />
      </div>
      <div class="row mt-5">
        <div class="col d-grid">
          <h2><b>Cantidad: </b> {{ garantia.cantidad }}</h2>
        </div>
        <div class="col d-grid text-center">
          <h2>
            <b>Precio Unitario: </b>
            {{ garantia.costo_unitario | currency : "MXN" : "symbol-narrow" }}
          </h2>
        </div>
        <div class="col d-grid text-end">
          <h2>
            <b>Precio Total: </b>
            {{ garantia.total | currency : "MXN" : "symbol-narrow" }}
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col d-grid">
          <h2><b>Folio: </b> {{ garantia.folio }}</h2>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-3 d-grid text-center">
          <h1 class="text-primary"><b> SEGUIMIENTO DE CLIENTE</b></h1>
        </div>
        <hr />
      </div>
      <div class="row mt-5">
        <div class="col d-grid">
          <h2>
            <b> Fecha de Resolución: </b>
            {{ garantia.fecha_resuelto_cliente ?? "" | date : "dd/MM/yyyy" }}
          </h2>
        </div>
        <div class="col d-grid text-end">
          <h2><b>Estado: </b> {{ garantia.estado_cliente }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col d-grid">
          <h2><b> Autorizado por: </b> {{ garantia.autorizo }}</h2>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-3 d-grid text-center">
          <h1 class="text-primary"><b> SEGUIMIENTO DE PROVEEDOR</b></h1>
        </div>
        <hr />
      </div>
      <div class="row mt-5">
        <div class="col d-grid">
          <h2>
            <b> Fecha de Solicitud a Proveedor: </b>
            {{ garantia.fecha_proveedor ?? "" | date : "dd/MM/yyyy" }}
          </h2>
        </div>
        <div class="col d-grid text-end">
          <h2>
            <b>Fecha de Resolución con Proveedor: </b>
            {{ garantia.fecha_resuelto_proveedor | date : "dd/MM/yyyy" }}
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col d-grid">
          <h2><b> Estado: </b> {{ garantia.estado_proveedor }}</h2>
        </div>
      </div>
      <div class="row mt-10">
        <div class="col text-center mx-5">
          <div class="divider"></div>
          <h2>SELLO GRUPO FERRETERO DON PEDRO</h2>
        </div>
        <div class="col text-center mx-5">
          <div class="divider"></div>
          <h2>NOMBRE Y FIRMA DEL CLIENTE</h2>
        </div>
      </div>
    </div>
  </div>
</div>
