.titulo {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #1368A9;
    font-size: 40px;
  }
  
  hr {
    height: 3px;
    background-color: black;
    opacity: 1;
  }
  .centrar {
    margin-top: 20%;
  }
  .divider {
    height: 2px;
    background-color: black;
    width: 100%;
    margin-top: 1.4rem;
    margin-left: 5px;
  }
  .container-margen {
    margin-right: 5rem;
    margin-left: 5rem;
  
  }
  td {
    border: solid black 1px;
  }
  
  .mt-10 {
    margin-top: 6rem;
  }
  .text-large{
    font-size: 40px;
  }
  
h2 {
  font-size: 25px;
}