<div class="mx-auto">
    <div class="grid xl:grid-rows-1 grid-rows-3 xl:grid-cols-3 grid-cols-1 gap-5">
      <div class="text-center xl:text-left">
      <button
        matButton="outlined"
        (click)="getCSVGarantia()"
      >
        <mat-icon>save_alt</mat-icon> Descargar Excel
      </button>
    </div>
    <div class="text-center">
      <mat-form-field>
        <mat-label>Mes y Año</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date" />
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker
          #dp
          startView="year"
          (monthSelected)="setMonthAndYear($event, dp)"
          panelClass="month-picker"
        >
        </mat-datepicker>
      </mat-form-field>
    </div>
    <div class="text-center md:text-end">
      <button matButton="filled" color="primary" (click)="createGarantia()">
        <mat-icon>add</mat-icon> Agregar Garantía
      </button>
    </div>
  </div>
  <ag-grid-angular
    class="ag-theme-quartz grid"
    style="width: 100%; height: 80vh"
    [pagination]="true"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [autoSizeStrategy]="autoSizeStrategy"
    [rowData]="rowData"
    [rowClassRules]="rowClassRules"
    [rowSelection]="'multiple'"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)"
  ></ag-grid-angular>
</div>
