.csv-button {
  color: white;
  background-color: #25d366;
}
table,
mat-paginator {
  background-color: transparent;
}
.terminado {
  background-color: #25d366;
}

.autorizado {
  background-color: #f7f260;
}

.merma {
  background-color: #f76060;
}
